/* 
@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc((80 * #{$i} / 1092 * 100%) + (12 / 1092 * (0) * 100%) );
    padding-right: calc(12 / 1092 * 100%);
  }
} */

/* .col-12 {
  grid-column: 1/13;
  border: 2px solid #000000;
}
.row-
.col {
  &-1-t {
    grid-column: 1/6;
    grid-row: 1/7;
    border: 2px solid #000000;
  }
  &-2-t {
    grid-column: 6/13;
    grid-row: 1/7;
    border: 2px solid #000000;
  }
  &-3-t {
    grid-row: 7/22;
  }
  &-4-t {
    grid-row: 22/31;
  }
  &-5-t {
    grid-row: 32/41;
  }
  &-6-t {
    grid-row: 41/51;
  }
}

.col {
  &-3-m,
  &-8-m {
    grid-column: 1/4;
  }
  &-4-m,
  &-9-m {
    grid-column: 4/7;
  }
  &-5-m,
  &-10-m {
    grid-column: 7/10;
  }
  &-6-m,
  &-11-m {
    grid-column: 10/13;
  }

  &-1-m {
    grid-row: 1/7;
  }
  &-2-m {
    grid-row: 7/13;
  }
  &-3-m,
  &-4-m,
  &-5-m,
  &-6-m {
    grid-row: 13/22;
    border: 2px solid #000000;
  }
  &-7-m {
    grid-row: 22/31;
  }
  &-8-m,
  &-9-m,
  &-10-m,
  &-11-m {
    grid-row: 32/41;
    border: 2px solid #000000;
  }
  &-12-m {
    grid-row: 41/51;
  }
}
 */
